/* Assurez-vous que cette section est ajoutée à votre fichier CSS */

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game {
  display: flex;
  height: 100vh;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: flex;
  text-align: center;
  background-color: #282c34;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.piece {
  height: 8vh;
  position: relative;
}

.visuaPiece{
  position: absolute;
  left: 60%;
  top: 30%;
}

/* .whatev {
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("redTetris.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  justify-content: center;
} */

h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: red;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.cellPiece {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  background-color: red;
}

.cell.piece {
  background-color: red;
}

.button{
  width: 250px;
  /* height: 50px; */
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}