/* Assurez-vous que cette section est ajoutée à votre fichier CSS */

.App{
  display: flex;
  flex-direction: row;
	columns: 3 33vw;
	width: 100vw;
  align-items: center;
	justify-content: center;
}

.Opponents{
	display: flex;
	width: 33vw;
	align-items: center;
	justify-content: center;
	left: 0%;
}

.middle{
  display: flex;
  flex-direction: column;
  align-items: center;
	position: relative;
	width: 33vw;
}

.Game {
  display: flex;
  height: 100vh;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: flex;
  text-align: center;
  background-color: #282c34;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.piece {
  height: 8vh;
  position: relative;
}

.visuaPiece{
  position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 33vw;
}

h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: red;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.cellPiece {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  background-color: red;
}

.cell.piece {
  background-color: red;
}

.button{
  width: 250px;
  /* height: 50px; */
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}